/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Overall body styling */
/* Define colors as CSS variables */
:root {
    --jade: #44af69ff;
    --imperial-red: #f8333cff;
    --orange-web: #fcab10ff;
    --moonstone: #2b9eb3ff;
    --pearl: #dbd5b5ff;
  }
  
  /* Apply material theme */
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--pearl);
    color: var(--moonstone);
  }
  
  h1, h2, th {
    color: var(--jade);
  }
  
  table {
    background-color: var(--pearl);
    border: 1px solid var(--moonstone);
  }
  
  th, td {
    border-color: var(--moonstone);
    border: 1px solid var(--moonstone);
  }
  
  .form-control {
    background-color: var(--pearl);
    color: var(--moonstone);
    border: 1px solid var(--moonstone);
  }
  
  .btn-primary {
    background-color: var(--imperial-red);
    border-color: var(--imperial-red);
  }
  
  .btn-primary:hover {
    background-color: #d61c2f; /* Darken the color on hover */
    border-color: #d61c2f;
  }
  .highlighted-cell {
    background-color: var(--jade); /* Example background color */
    color: #fff;
}
